div.field {
    padding-bottom: 5px;
}

div.form-group label {
    display: block;
    float: left;
    width: 100px;
    height: 15px;
}

body.user {
    blackgroud-color: lightblue
}


div.table th {
    text-align: center;
}

div.table td {
    text-align: center;
}